In [1]:
import pandas as pd
from sqlite3 import connect
import xlwings as xw
from IPython.display import Image, display
import pathlib
import os
print('Done')

Done

In [ ]:
folder_name = 'files'

path = pathlib.Path().absolute()

os.listdir(folder_name)

file_name = 'ACC_TBL_EXPORT.xls'

In [ ]:
file_name = 'files/ACC_TBL_EXPORT.xls'

In [ ]:
conn = connect('dealer.db')

In [ ]:
q = 'select * from customers'
pd.read_sql(q,conn)

In [ ]:
customers = pd.read_excel(file_name,sheet_name = None)
(customers['csvdata']).to_sql('customers',conn,index=False,if_exists='replace')

In [ ]:
q = '''
        SELECT [no.],name,territory,city
        FROM customers
        WHERE area = 'South'
    '''
try:
    abc = pd.read_sql(q,conn)
    display(abc)
except Exception as e:
    print(e)

In [ ]:
# south_site = tuple(abc['No.'])

In [ ]:
q = '''
        SELECT [customer code],[customer name],addr1,territoy as Distributor,
        model,[serial no.],type,
        strftime('%Y-%m-%d',[date installed]) as [date installed],
        strftime('%Y-%m-%d',[wty end date]) as [wty_end_date],
        strftime('%Y-%m-%d',[last repair date(shipping)]) as [Last Repair Date]
        FROM install i
        LEFT JOIN customers c ON i.[customer code] = c.[no.]
        WHERE c.area is NOT 'North'
        
    '''
try:
    deg = pd.read_sql(q,conn)
    display(deg)
except Exception as e:
    print(e)

In [ ]:
deg.to_excel('inspection/addr.xlsx',index = False)

In [ ]:
q = 'SELECT DISTINCT [no.],addr1 from customers'
addr = pd.read_sql(q,conn)

In [ ]:
addr.to_excel('inspection/address.xlsx',index=False)

In [2]:
conn = connect('history.db')

In [6]:
sn_list ='''
4V605K098
4V605K099
9G402K247
6C731K053
6W599K670
9G402K464
6W599K671
7C730K005
5V605K772
7C728K101
2V696K421
9G391K336
6G387K018
6V644K341
6S191K983
8G403K034
4G412K653
JC643K005
4C741K183
7S101K160
8G403K088
7C731K054
4G412K528
4G412K654
7G290K270
7G290K271
9G403K069
9G403K070
8C730K002
2V696K627
5G412K109
5C741K185
2V696K630
5G412K110
5C741K186
8C688K210
8C730K003
6V609K008
6V609K013
7S094K78
7S094K945
LG361K011
LG361K012
KC643K086
IKE1805BYT00001
 KC643K087
LG361K001
LG361K009
1C653K513
1C653K514
6V605K347
6V605K351
KC643K009
6B083K190
LG361K276
KC643K246
LG361K423
LG361K346
LG361K428
LG361K439
8G403K186
6V609K262
7S094K954
LG361K351
LG361K354
6V609K265
6V609K266
7S094K964
7S094K967
LG361K355
LG361K433
KC643K400
2V696K730
2V696K927
2V696K928
JG390K108
JG390K109
9G403K065
6V644K516
6V644K496
7S101K585
7S101K431
5C741K442
9G403K306
9G403K307
9G403K308
8C730K021
8C730K022
8C730K023
5G412K904
5C742K518
6V605K706

'''
sn_list = tuple(sn_list.strip().split('\n'))
sn_list

('4V605K098',
 '4V605K099',
 '9G402K247',
 '6C731K053',
 '6W599K670',
 '9G402K464',
 '6W599K671',
 '7C730K005',
 '5V605K772',
 '7C728K101',
 '2V696K421',
 '9G391K336',
 '6G387K018',
 '6V644K341',
 '6S191K983',
 '8G403K034',
 '4G412K653',
 'JC643K005',
 '4C741K183',
 '7S101K160',
 '8G403K088',
 '7C731K054',
 '4G412K528',
 '4G412K654',
 '7G290K270',
 '7G290K271',
 '9G403K069',
 '9G403K070',
 '8C730K002',
 '2V696K627',
 '5G412K109',
 '5C741K185',
 '2V696K630',
 '5G412K110',
 '5C741K186',
 '8C688K210',
 '8C730K003',
 '6V609K008',
 '6V609K013',
 '7S094K78',
 '7S094K945',
 'LG361K011',
 'LG361K012',
 'KC643K086',
 'IKE1805BYT00001',
 ' KC643K087',
 'LG361K001',
 'LG361K009',
 '1C653K513',
 '1C653K514',
 '6V605K347',
 '6V605K351',
 'KC643K009',
 '6B083K190',
 'LG361K276',
 'KC643K246',
 'LG361K423',
 'LG361K346',
 'LG361K428',
 'LG361K439',
 '8G403K186',
 '6V609K262',
 '7S094K954',
 'LG361K351',
 'LG361K354',
 '6V609K265',
 '6V609K266',
 '7S094K964',
 '7S094K967',
 'LG361K355',
 'LG361K433',
 'KC643K400',
 '2V696K730',
 '2V696K927',
 '2V696K928',
 'JG390K108',
 'JG390K109',
 '9G403K065',
 '6V644K516',
 '6V644K496',
 '7S101K585',
 '7S101K431',
 '5C741K442',
 '9G403K306',
 '9G403K307',
 '9G403K308',
 '8C730K021',
 '8C730K022',
 '8C730K023',
 '5G412K904',
 '5C742K518',
 '6V605K706')

In [8]:
q = f'''
        SELECT * FROM install
        WHERE [serial no.] IN {sn_list}
'''
pd.read_sql(q,conn)

Empty DataFrame
Columns: [Serial No., Model, UDI, Customer Code, Customer Name, Customer Rank, Territoy, Address1, City, Area, Group, Type, Ownership, Rental Status, Date Sold, Date Installed, Date Disposal, Date of Sale, WTY Start Date, WTY End Date, Last Repair Date(Shipping), Last Repair RMA, Sales Person, Order No., Invoice No., Current Status Name, Fixed No., Note 1, Note 2, Note 3, Ship To Code, Ship To Name, Ship To Address, Ship To City, Ship To State, Ship To Zip, Ship To Country, Create Time, Create User Code, Update Time, Update User Code, Fice, Sales Partner Code, Sales Partner Name, RoHS, VET, ISO, MODIFIED, Rental Date, Rental Return Due Date, Rental Reason, Rental Country, Rental Customer, Demo Request, TIB Period]
Index: []

[0 rows x 55 columns]