In [1]:
import pandas as pd
from sqlite3 import connect
from datetime import datetime as dt
from IPython.display import Image,display

In [2]:
conn = connect('history.db')

In [ ]:
q = '''
        SELECT [customer code],[customer name],COUNT(*) AS [count_install]
        
        FROM install
        GROUP BY [customer code],[customer name]
        ORDER BY [count_install] DESC
    '''
install = pd.read_sql(q,conn)
install.to_excel('Service Contract/install.xlsx',index=False)

In [ ]:
q = '''
        SELECT [customer_code],[customer_name],COUNT(*) AS [count_repair]
        
        FROM consolidated
        GROUP BY [customer_code],[customer_name]
        ORDER BY [count_repair] DESC
    '''
repair = pd.read_sql(q,conn)
repair.to_excel('Service Contract/repair.xlsx',index=False)

In [3]:
sn_list = '''3S094K544
2S094K540
3S094K015
3S094K526
3S094K980
2S094K543

'''

sn_list = tuple(sn_list.upper().strip().split('\n'))

In [4]:
df = pd.DataFrame()
for sn in sn_list:
    q = f'''
            SELECT [rma no.],customer_name, model,serial_no,approval,repair_status,[repair size]
            FROM consolidated
            WHERE UPPER(serial_no) = '{sn.upper()}'
            ORDER BY  [rma no.] DESC
            LIMIT 1

        '''
    # display(pd.read_sql(q,conn))
    last_rma = pd.read_sql(q,conn)
    if sn ==sn_list[0]:
        df = last_rma
#         print(sn)
    else:
        df = pd.concat([df,last_rma]).reset_index(drop=True)
        print(sn)

df

2S094K540
3S094K015
3S094K526
3S094K980
2S094K543

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Approval,REPAIR_STATUS,Repair Size
0,FMSV2023030017,Hanoi Medical University Hospital,XL-4450,3S094K544,Cancel,Completed,Other
1,FMSV2022110065,Hanoi Medical University Hospital,XL-4450,2S094K540,Decline,Completed,Other
2,FMSV2022060039,Hanoi Medical University Hospital,XL-4450,3S094K015,Decline,Completed,Other
3,FMSV2022060038,Hanoi Medical University Hospital,XL-4450,3S094K526,Decline,Completed,Other
4,FMSV2022120057,Hanoi Medical University Hospital,XL-4450,3S094K980,Decline,Completed,Other
5,FMSV2023060016,Hanoi Medical University Hospital,XL-4450,2S094K543,None,Inspection,Other

In [5]:
for sn in sn_list:
    if sn.upper() not in list(df['SERIAL_NO']):
        print(sn)

In [ ]:
df.to_excel('New ML/ff_asset_230907.xlsx',index=False)