# 1. Import library

In [1]:
import xlwings as xw
import sources.parts_list_0802 as pl
from sqlite3 import connect
import pandas as pd
import os
from datetime import datetime as dt
import sources.logins as lg
import pathlib
import qrcode
from time import sleep
import xlwings as xw
from IPython.display import Image
import warnings
warnings.filterwarnings('ignore')

## 2. Select database

In [2]:
conn = connect('quotation.db')

In [3]:
conn = connect('history.db')

In [ ]:
# check all table
pd.read_sql("SELECT name FROM sqlite_master WHERE type ='table'",conn)

In [4]:
# CREATE list_rma
# tao list rma
a = pl.parts_list()
sn_list='''
jg361k643
'''
list_rma = a.list_rma(conn,sn_list.strip(),'\n')
list_rma = list_rma.sort_values(by=['rma'])
display(list_rma)
for sn in sn_list.strip().split('\n'):
    if sn not in list(list_rma['SERIAL_NO']):
        print(sn)

,rma,CUSTOMER_NAME,SERIAL_NO,MODEL,Approval,REPAIR_STATUS,IN_INSPECT_USER_NAME
0,FMSV2024010054,Phu Tho General Hospital,JG361K643,EG-530WR,None,Inspection,Nguyen Khac Thang (Hanoi)

jg361k643

In [5]:
# add report to summary file

r_type = (input('Type of report tr/[wty]: ') or 'wty').lower() # 'wty' 
d = pl.summary_report()
summary_file = d.read_summary_data('2024_FFVN WTY Status.xlsx')
gdkt = d.read_summary_data(file_name = '2024_FFVN WTY Status.xlsx',mode=r_type)

# tr_lr = gdkt.range('A' + str(gdkt.cells.last_cell.row)).end('up').row # tr

i_report = 0
q_gdkt = {}
gdkt_lr = summary_file[r_type][0]
report_num =summary_file[r_type][1]
report_id = {}
for rma in list_rma['rma']:
    
    i_report +=1
    report_num += 1
    info = []
    part_list= []
    c = pl.technical_report()
    info,part_list = c.report_info(rma,conn)
    model = info['MODEL'][0]
    sn = info['SERIAL_NO'][0]
   
    # record to file summary
    
    gdkt.range('A' + str(gdkt_lr + i_report)).value = report_num
    
    wn = str(info['web_name'][0]).replace('Bệnh viện','BV')
    wn = wn.replace('Phòng Khám','PK')
    
    
    gdkt.range('B' + str(gdkt_lr + i_report)).value = info['CUSTOMER_NAME'][0]
    
    gdkt.range('C' + str(gdkt_lr + i_report)).value = model.replace(' V2','')
    gdkt.range('D' + str(gdkt_lr + i_report)).value = sn
    
    
    
    #add zero to report number
    if len(str(report_num))==1: report_num_str = f'00{report_num}'
    if len(str(report_num))==2: report_num_str = f'0{report_num}'
    if len(str(report_num))==3: report_num_str = f'{report_num}'
    
    # not number
#     report_num_str = 'xxx'
    
#     gdkt.range('E' + str(gdkt_lr + i_report)).value = d.issues(conn,rma) #gdkt
    if r_type == 'tr':
        rpid = dt.now().strftime('%y%m') + report_num_str + 'TR' #tr 
        gdkt.range('J' + str(gdkt_lr + i_report)).value = rma
    
    elif r_type == 'wty':
        rpid = 'FFVN-' + dt.now().strftime('%y%m') + report_num_str
        gdkt.range('M' + str(gdkt_lr + i_report)).value = rma
    
    gdkt.range('E' + str(gdkt_lr + i_report)).value = rpid
    
    report_id.update({sn:rpid})
    sum_info = d.summary_info(conn,rma) # gdkt
#     gdkt.range('F' + str(gdkt_lr + i_report)).value = sum_info['first_name'][0] #gdkt 
    gdkt.range('F' + str(gdkt_lr + i_report)).value = d.issues(conn,rma) # tr
#     gdkt.range('G' + str(gdkt_lr + i_report)).value ="'" +  sum_info['date_installed'][0]
#     gdkt.range('H' + str(gdkt_lr + i_report)).value ="'" + sum_info['receive'][0]
#     gdkt.range('I' + str(gdkt_lr + i_report)).value ="'" +  sum_info['inspect_date'][0]
    q_gdkt.update({rma:(info,part_list)})
    
print('Done!!!')
report_num = int(list(report_id.values())[0][-2:])
report_num

Type of report tr/[wty]:
Done!!!

7

In [ ]:
report_id,report_num

In [ ]:
report_num = int(list(report_id.values())[0][-2:])
# report_num = 49

In [6]:
#run all  list rma

for rma in list_rma['rma']:
    issue = str(d.issues(conn,rma))
    c = pl.technical_report()
    info,part_list = c.report_info(rma,conn)
    part_list
    info
    q = f'''
            SELECT c.[rma no.] ,strftime('%d/%m/%Y',c.[date installed]) AS [date_installed],
            c.[Scope Connect Count] as [scope_count],c.[update user],strftime('%d/%m/%Y',
            c.[Last Repair(Shipping)]) as last_repair,e.location,e.leader,
            strftime('%d/%m/%Y',c.recieve_date) as receive,[defect note],[Last RMA No.],strftime('%d/%m/%Y',[create]) as create_date
            FROM consolidated c
            LEFT JOIN engineers e ON C.[IN_INSPECT_USER_NAME] = e.exfm_name
            WHERE C.[RMA NO.]='{rma}'
        '''
    add_info = pd.read_sql(q,conn)
    
    #add zero to report number
    if len(str(report_num))==1: report_num_str = f'00{report_num}'
    if len(str(report_num))==2: report_num_str = f'0{report_num}'
    if len(str(report_num))==3: report_num_str = f'{report_num}'
    
    #not number
#     report_num_str = 'xxx'
    
    wb = xw.Book('templates\\Report_Template.xlsx')
    tp = wb.sheets('Report')
    folder_name = 'reports_' + dt.now().strftime('%y%m%d')

    path = pathlib.Path().absolute()
    try:
        os.mkdir(folder_name)
        print(f'folder {folder_name} was created.')
    except:
        print(f'Folder {folder_name} exists')
    if r_type == 'tr':
        ref_no = f"{dt.now().strftime('FFVN-%y%m')}{report_num_str}TR"
    elif r_type =='wty':
        ref_no = f"{dt.now().strftime('FFVN-%y%m')}{report_num_str}"

    tp.range('C5').value = ref_no
    tp.range('C6').value = dt.now().strftime('%d-%b-%y')
    tp.range('E6').value = info['RMA No.'][0]
    tp.range('C7').value = info['CUSTOMER_NAME'][0]
    tp.range('C8').value = 'VIETNAM'
    if r_type == 'wty':
        tp.range('C13').value = 'YES'
    elif r_type == 'tr':
        tp.range('C13').value = 'NO'
    tp.range('C10').value = info['MODEL'][0]
    tp.range('C11').value = str(info['SERIAL_NO'][0]).upper()
    try:
        tp.range('C12').value = dt.strptime(add_info['date_installed'][0],'%d/%m/%Y')
    except Exception as e:
        print('None Installation Date ')
    tp.range('E13').value = add_info['Last RMA No.'][0]
    tp.range('B15').value = add_info['Defect Note'][0]
    tp.range('C25').value = dt.strptime(add_info['create_date'][0],'%d/%m/%Y')

    try:
        tp.range('B27').value = add_info['Defect Note'][0] + '\n' +'Used case: ' + str(int(add_info['scope_count'][0]))
    except:
        tp.range('B27').value = add_info['Defect Note'][0]

    tp.range('C28').value = info['IN_INSPECT_USER_NAME'][0]
    try:
        tp.range('C29').value = dt.strptime(info['inspect_date'][0],'%d/%m/%Y')
    except:
        print('Not inspection completed')
    plf = a.part_list_final(rma,conn)

    if tp.range('B37').value == 'Name / Date :': #check empty table
        #insert new rows
        for i in range(len(plf)-1):
            tp.range('33:33').insert()
            tp.range('32:32').copy()
            tp.range('33:33').paste('formats')
    #     total_price = sum(part_list_final['Dealer Price'])
        # fill in parts infor_mtion
        for i in range(len(plf)):

            tp.range('B' + str(i+32)).value = plf['part_num'][i]
            tp.range('C' + str(i+32)).value = plf['PART_DESCRIPTION'][i] 

            tp.range('D' + str(i+32)).value = plf['QUANTITY'][i]
            tp.range('E' + str(i+32)).value = plf['FFVN Price'][i]

        tp.range('E'+str(i+33)).value = f'=SUMPRODUCT(D32:D{str(i+32)},E32:E{str(i+32)})'
        tp.name = ref_no
        model_t = str(info['MODEL'][0]).replace('-','')
        model_t= model_t.replace('/','')
        sn_t = str(str(info['SERIAL_NO'][0]).upper()).replace('-','')
        sn_t = sn_t.replace('/','')
        issue = issue.replace(' ','')
        wb.save(f'{folder_name}\\{ref_no}-{model_t},{sn_t}-{issue}.xlsx')
        print(f'Export {wb.name} completed')
        print(f'{wb.name}')
        wb.close()
    else:
        print('table not empty')
    report_num = int(report_num) +1
print('Done')

folder reports_240201 was created.

,PART_DESCRIPTION,Vie,SAP,part_num,QUANTITY,FFVN Price,FFVN_AMOUNT,Dealer Price,Dealer_AMOUNT,rma,Priority
0,ISA-G201A-6(AT/WT),Bộ phận thân ống soi,FW12G,343A13050790,1,3255.26,3255.26,5517.389831,5517.389831,FMSV2024010054,1.0
1,VCA,Bộ phận kết nối tín hiệu,FW12G,343A1331619E,1,NaN,NaN,NaN,NaN,FMSV2024010054,2.4
2,SLEEVE ROHS,Ống nối (đồng),FW12G,42B632243A,4,1.06,4.24,1.796610,7.186441,FMSV2024010054,9.1
3,NUT ASS'Y,Đai ốc (đồng),FW12G,54A379237A,4,4.24,16.96,7.186441,28.745763,FMSV2024010054,9.2

4 part(s) no price

,Article Code,SAP,part_num,part_family,QUANTITY,FFVN Price,FFVN_AMOUNT,Dealer Price,Dealer_AMOUNT,Parts Name(EN),rma,Priority
0,343A13316190,FW12G,343A1331619E,343A1331619,1,805.6,805.6,1365.423729,1365.423729,VIDEO CONNECTOR ASSY ROHS,FMSV2024010054,2.4
1,343A1331619B,FW12G,343A1331619E,343A1331619,1,805.6,805.6,1365.423729,1365.423729,VIDEO CONNECTOR ASSY ROHS2,FMSV2024010054,2.4
2,343A1331619C,FW12G,343A1331619E,343A1331619,1,805.6,805.6,1365.423729,1365.423729,VIDEO CONNECTOR ASSY ROHS2,FMSV2024010054,2.4
3,343A1331619D,FW12G,343A1331619E,343A1331619,1,805.6,805.6,1365.423729,1365.423729,VIDEO CONNECTOR ASSY ROHS2,FMSV2024010054,2.4

Select correct part number: 3

,Article Code,SAP,part_num,part_family,QUANTITY,FFVN Price,FFVN_AMOUNT,Dealer Price,Dealer_AMOUNT,Parts Name(EN),rma,Priority
3,343A1331619D,FW12G,343A1331619E,343A1331619,1,805.6,805.6,1365.423729,1365.423729,VIDEO CONNECTOR ASSY ROHS2,FMSV2024010054,2.4

,PART_DESCRIPTION,Vie,SAP,part_num,QUANTITY,FFVN Price,Dealer Price
0,ISA-G201A-6(AT/WT),Bộ phận thân ống soi,FW12G,343A13050790,1,3255.26,5517.389831
1,VCA,Bộ phận kết nối tín hiệu,FW12G,343A1331619D,1,805.60,1365.423729
2,SLEEVE ROHS,Ống nối (đồng),FW12G,42B632243A,4,1.06,1.796610
3,NUT ASS'Y,Đai ốc (đồng),FW12G,54A379237A,4,4.24,7.186441

Export FFVN-2402007-EG530WR,JG361K643-AWT,CHA,BSA,FSA,VCA.xlsx completed
FFVN-2402007-EG530WR,JG361K643-AWT,CHA,BSA,FSA,VCA.xlsx
Done

In [ ]:
#check report_id current in Master List
q =f'''
        SELECT rma,sn,report_id,status
        
        FROM m_list
        WHERE rma IN ({str(list(list_rma['rma']))[1:-1]})
    '''
pd.read_sql(q,conn)

In [ ]:
# UPDATE report id
cur = conn.cursor()
m_list = pd.read_sql('SELECT * FROM m_list',conn)
for sn in list_rma['SERIAL_NO']:
    rpid = report_id[sn]
    cur.execute(f"""
                    UPDATE m_list SET report_id = '{rpid}'
                    
                    WHERE sn = '{sn}'
    
                """)
conn.commit()
pd.read_sql(q,conn)

In [ ]:
lg.backups(folder_name,'inspection')

In [ ]:
#copy summary file to inspection folder
import shutil
path = pathlib.Path().absolute()
summary_file = '2023_FFVN Service Endo_Inspection, WTY & TR.xlsx'
org_file = os.path.join(path,summary_file)
des_file = os.path.join(path,'inspection',summary_file)
shutil.copy(org_file,des_file)

In [ ]:
# delete all file in report_yymmdd folder
file = lg.file_filter(path = folder_name)
print('-'*26)
for i in range(1,1+len(file)):
    os.remove(f'{folder_name}\\{file[i]}')
    print(f'Deleted {file[i]}')

#### Export Master List

In [ ]:
file_name = lg.file_select(folder_name = 'files', end_with = '.xlsm')
xw.Book(file_name)

In [ ]:
# final
q = '''SELECT * FROM m_list'''
m_list_final = pd.read_sql(q,conn)
m_list_final = m_list_final.drop(['TAT received','TAT PO','waiting for part'],axis=1)
dtmp = dt.now().strftime('%y%m%d')
file_name = f'ML_{dtmp}.xlsx'
m_list_final.to_excel(file_name,index = False)
xw.Book(file_name)