In [1]:
import xlwings as xw
import sources.parts_list_0802 as pl
import pandas as pd
import os
from datetime import datetime as dt
import sources.logins as lg
import pathlib
import qrcode
from time import sleep
import xlwings as xw
from IPython.display import Image

In [2]:
driver = lg.check_driver()
try:
    driver.close()
except Exception as e:
    pass

Chrome Driver matched.

In [3]:
# initialize
a =pl.parts_list()

try:
    conn.close()
except:
    pass
intro = str(a.__doc__).split('\n')
for i in intro:
    print(i)
conn = a.question()
# pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'",conn)

	ver 802
	remove	ORDER BY [Dealer price] DESC


	Tao part list tu RMA ver 3.1.0
	Them hang print tilte GDKT
	Them GDKT tu dong
	Them def list_rma
Update data(y/N): n

Select Database:

______________________________________________________________________
|  No.|  File Name                               |  Modified Time    |
|____________________________________________________________________|
|  1  |  history.db                              |  14-Aug-23 13:23  |
|  2  |  quotation.db                            |  14-Aug-23 13:21  |
|____________________________________________________________________|
Select file (Default 1): 1
"history.db" is selected

 Used exists data.

In [ ]:
conn.close()

### TAT time

In [4]:
sn_list = '''
1B084K198
KC643K248
2G391K784
2G403k047
2G361K552
2G391K036
1G399K079
8G402K627
9G391K110
7G361K177
5C692K030
3G402K143
1G202K621
3C692K105
2G374K400
2B083K071
JG361K231
1B084K400
2G403K048
1V567K516
2D127K107
2C643K211
8G403K090
1C692K176
1C694K030
8C643K180
1C728K139
2G391K044
4G391K119
9G361K611




    '''

sn_list = sn_list.strip().split('\n')
len(sn_list)

30

In [6]:
#check by sn and record serial
rma_record =[]
for sn in sn_list:
#     sn = 'Jg361K643'
    q = f'''
            SELECT [rma no.],customer_name,model,serial_no,[repair size],approval,[scope connect count],[recieve_date]
            FROM consolidated
            WHERE upper(serial_no) ='{sn.upper()}'

            ORDER BY [rma no.] DESC

        '''
    his_rma = pd.read_sql(q,conn)
    if len(his_rma) > 1:
        display(his_rma)

        try:
            ind = int(input('Select by index[0]: '))
            rma_record.append(his_rma['RMA No.'][0])
            rma_record.append(his_rma['RMA No.'][ind])
        except:
            ind = 0
            rma_record.append(his_rma['RMA No.'][0])
    else:
        rma_record.append(his_rma['RMA No.'][0])
    
    print(rma_record)

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023050023,Hai Duong Tuberculosis Hospital,EB-530T,1B084K198,Major,Approval,1434.0,2023-05-09 18:21:29
1,FMSV2021060023,Hai Duong Tuberculosis Hospital,EB-530T,1B084K198,Minor,Approval,140.0,2021-06-15 10:08:04
2,FMSV2021030022,Hai Duong Tuberculosis Hospital,EB-530T,1B084K198,Major,Approval,NaN,2021-03-05 16:40:51
3,FMSV2020100052,Hai Duong Tuberculosis Hospital,EB-530T,1B084K198,Major,Cancel,2906.0,2020-10-22 08:56:47

Select by index[0]:
['FMSV2023050023']
['FMSV2023050023', 'FMSV2023050079']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070060,Hanoi Medical University Hospital,EG-600WR,2G391K784,Minor,Approval,4977.0,2023-07-24 15:38:04
1,FMSV2023060009,Hanoi Medical University Hospital,EG-600WR,2G391K784,Minor,Approval,4876.0,2023-06-02 20:20:43
2,FMSV2023030025,Hanoi Medical University Hospital,EG-600WR,2G391K784,Minor,Approval,4859.0,2023-03-15 12:17:36
3,FMSV2022070030,Hanoi Medical University Hospital,EG-600WR,2G391K784,Major,Approval,4104.0,2022-07-12 10:51:35
4,FMSV2020090045,Hanoi Medical University Hospital,EG-600WR,2G391K784,Major,Cancel,4104.0,2020-09-21 09:02:44
5,FMSV2019060052,Hanoi Medical University Hospital,EG-600WR,2G391K784,Minor,Approval,NaN,2019-06-28 11:59:10
6,FMSV2018080050,Hanoi Medical University Hospital,EG-600WR,2G391K784,Major,Decline,2076.0,2018-08-21 14:25:17
7,FMSV2018060030,Hanoi Medical University Hospital,EG-600WR,2G391K784,Minor,Approval,NaN,2018-06-22 10:40:10
8,FMSV2017110011,Hanoi Medical University Hospital,EG-600WR,2G391K784,Major,Approval,653.0,2017-11-16 13:30:16

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080011,No. 91 Endoscopy-Gastrointestinal-GI Scaning T...,EG-760Z,2G403k047,Major,Approval,NaN,2023-08-04 11:12:41
1,FMSV2023060029,No. 91 Endoscopy-Gastrointestinal-GI Scaning T...,EG-760Z,2G403k047,Minor,Approval,NaN,2023-06-15 11:22:20
2,FMSV2021020006,Endoscopy No. 91 Clinic,EG-760Z,2G403k047,Major,Approval,4542.0,2021-02-02 13:54:33
3,FMSV2020110063,Endoscopy No. 91 Clinic,EG-760Z,2G403k047,Major,Approval,4269.0,2020-11-19 13:22:16
4,FMSV2019110010,Endoscopy No. 91 Clinic,EG-760Z,2G403k047,Minor,Approval,2782.0,2019-11-05 17:10:44
5,FMSV2018110063,Endoscopy No. 91 Clinic,EG-760Z,2G403k047,Major,Approval,NaN,2018-11-27 13:11:38

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080013,Bac Giang Hospital,EG-530WR,2G361K552,Major,Approval,NaN,2023-08-04 15:33:38
1,FMSV2022110047,Bac Giang Hospital,EG-530WR,2G361K552,Major,Decline,NaN,2022-11-17 18:26:33
2,FMSV2022060052,Bac Giang Hospital,EG-530WR,2G361K552,Major,Approval,4382.0,2022-06-17 13:45:45

Select by index[0]: 1
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080027,Hanoi Medical University Hospital,EG-600WR,2G391K036,None,Approval,NaN,2023-08-07 16:49:16
1,FMSV2022100002,Hanoi Medical University Hospital,EG-600WR,2G391K036,Major,Approval,NaN,2022-10-24 18:30:38
2,FMSV2019120021,Hanoi Medical University Hospital,EG-600WR,2G391K036,Major,Cancel,4280.0,2019-12-17 08:13:54
3,FMSV2018120016,Hanoi Medical University Hospital,EG-600WR,2G391K036,None,Approval,NaN,2018-12-05 16:31:19
4,FMSV2018110008,Hanoi Medical University Hospital,EG-600WR,2G391K036,Minor,Approval,4101.0,2018-11-27 10:40:37
5,FMSV2018080059,Hanoi Medical University Hospital,EG-600WR,2G391K036,Minor,Approval,NaN,2018-08-27 10:51:46
6,FMSV2018010004,Hanoi Medical University Hospital,EG-600WR,2G391K036,Major,Approval,3191.0,2018-01-04 15:56:32
7,FMSV2016110001,Hanoi Medical University Hospital,EG-600WR,2G391K036,Major,Approval,NaN,2016-11-01 10:01:45

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080029,"FUJIFILM Vietnam Co., Ltd.",EG-740N,1G399K079,Minor,Approval,114.0,2023-08-07 18:52:20
1,FMSV2023040084,"FUJIFILM Vietnam Co., Ltd.",EG-740N,1G399K079,Maintain,Approval,NaN,2023-04-27 18:21:57
2,FMSV2022120040,"FUJIFILM Vietnam Co., Ltd.",EG-740N,1G399K079,Maintain,Inspection,107.0,2022-12-19 10:48:21
3,FMSV2022040052,"FUJIFILM Vietnam Co., Ltd.",EG-740N,1G399K079,Maintain,Inspection,NaN,2022-04-21 10:48:37
4,FMSV2020120058,"FUJIFILM Vietnam Co., Ltd.",EG-740N,1G399K079,Major,Approval,85.0,2020-12-24 13:46:53

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080030,"FUJIFILM Vietnam Co., Ltd.",EG-760R,8G402K627,Minor,Approval,1599.0,2023-08-07 18:53:16
1,FMSV2022080019,"FUJIFILM Vietnam Co., Ltd.",EG-760R,8G402K627,Maintain,Inspection,NaN,2022-08-09 11:24:52

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080034,Hanoi Medical University Hospital,EG-600WR,9G391K110,Minor,Approval,1831.0,2023-08-08 17:28:03
1,FMSV2023010034,Hanoi Medical University Hospital,EG-600WR,9G391K110,Minor,Approval,842.0,2023-01-30 15:51:35
2,FMSV2022080068,Hanoi Medical University Hospital,EG-600WR,9G391K110,Major,Approval,603.0,2022-08-31 15:34:17

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080041,Dong Thap General Hospital,EG-530WR,7G361K177,Minor,Approval,NaN,2023-08-11 16:26:30
1,FMSV2023050017,Dong Thap General Hospital,EG-530WR,7G361K177,Major,Approval,770.0,2023-05-09 18:33:51

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041']
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023060024,HECI Center,EG-760R,3G402K143,Minor,Approval,NaN,2023-06-09 10:07:41
1,FMSV2020050037,HECI Center,EG-760R,3G402K143,Minor,Approval,486.0,2020-05-18 17:28:10
2,FMSV2020030028,HECI Center,EG-760R,3G402K143,Minor,Approval,NaN,2020-03-13 13:25:37

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070014,VIET MY GENERAL CLINIC,EG-250WR5,1G202K621,Major,Approval,None,2023-07-10 11:37:58
1,FMSV2022070089,VIET MY GENERAL CLINIC,EG-250WR5,1G202K621,Minor,Approval,None,2022-07-25 15:00:09

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070040,103 Military Hospital,EC-600WI,3C692K105,Minor,Approval,1080.0,2023-07-14 17:22:03
1,FMSV2021010054,103 Military Hospital,EC-600WI,3C692K105,None,Approval,905.0,2021-01-29 08:53:54
2,FMSV2020080044,103 Military Hospital,EC-600WI,3C692K105,Major,Decline,905.0,2020-08-21 10:13:02

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070055,Vietnam-Sweden Uong Bi Hospital,EG-530FP,2G374K400,Major,Approval,8692.0,2023-07-20 13:24:41
1,FMSV2023060002,Vietnam-Sweden Uong Bi Hospital,EG-530FP,2G374K400,Minor,Approval,8212.0,2023-06-01 19:36:30
2,FMSV2023030033,Vietnam-Sweden Uong Bi Hospital,EG-530FP,2G374K400,Major,Approval,7558.0,2023-03-20 17:49:27
3,FMSV2022110032,Vietnam-Sweden Uong Bi Hospital,EG-530FP,2G374K400,Major,Decline,7558.0,2022-11-14 13:40:30
4,FMSV2020080020,Vietnam-Sweden Uong Bi Hospital,EG-530FP,2G374K400,Major,Approval,4745.0,2020-08-11 11:02:32
5,FMSV2019110056,Vietnam-Sweden Uong Bi Hospital,EG-530FP,2G374K400,Minor,Approval,4181.0,2019-11-22 09:43:38
6,FMSV2019090038,"YNG Trade Technical Co., Ltd",EG-530FP,2G374K400,Other,Cancel,NaN,2019-11-18 11:18:52
7,FMSV2019050025,"YNG Trade Technical Co., Ltd",EG-530FP,2G374K400,Minor,Approval,3618.0,2019-05-20 10:49:36
8,FMSV2018110034,"YNG Trade Technical Co., Ltd",EG-530FP,2G374K400,Major,Approval,2636.0,2018-11-22 14:30:16
9,FMSV2018090034,"YNG Trade Technical Co., Ltd",EG-530FP,2G374K400,Minor,Approval,2271.0,2018-09-25 16:53:34

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070058,DONG HUNG HOSPITAL,EB-530S,2B083K071,Minor,Approval,625.0,2023-07-24 15:35:53
1,FMSV2022120007,DONG HUNG HOSPITAL,EB-530S,2B083K071,Minor,Approval,225.0,2022-12-06 13:00:00

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070073,Hung Cuong Hospital-Hiep Hoa- Bac Giang,EG-530WR,JG361K231,Minor,Approval,5031.0,2023-07-27 11:53:09
1,FMSV2023030012,Hung Cuong Hospital-Hiep Hoa- Bac Giang,EG-530WR,JG361K231,Major,Approval,3306.0,2023-03-09 18:20:53
2,FMSV2022010039,Hung Cuong Hospital-Hiep Hoa- Bac Giang,EG-530WR,JG361K231,Major,Approval,132.0,2022-01-26 16:28:51

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080001,National Lung Hospital,EB-530T,1B084K400,Minor,Approval,NaN,2023-08-01 15:56:40
1,FMSV2023070007,National Lung Hospital,EB-530T,1B084K400,Minor,Approval,4293.0,2023-07-04 13:56:42
2,FMSV2023060063,National Lung Hospital,EB-530T,1B084K400,Minor,Approval,4272.0,2023-06-23 18:30:36
3,FMSV2023020018,National Lung Hospital,EB-530T,1B084K400,Minor,Approval,3343.0,2023-02-08 18:16:23
4,FMSV2022120060,National Lung Hospital,EB-530T,1B084K400,Minor,Approval,1617.0,2022-12-14 18:57:15
5,FMSV2022100082,National Lung Hospital,EB-530T,1B084K400,Minor,Approval,2970.0,2022-10-27 18:51:50
6,FMSV2022090069,National Lung Hospital,EB-530T,1B084K400,Minor,Approval,NaN,2022-09-29 16:53:17
7,FMSV2022080054,National Lung Hospital,EB-530T,1B084K400,Major,Approval,2586.0,2022-08-24 18:33:46
8,FMSV2021030066,Lung Central Hospital,EB-530T,1B084K400,Major,Approval,2586.0,2021-03-16 17:11:07
9,FMSV2020110079,Lung Central Hospital,EB-530T,1B084K400,Major,Cancel,2586.0,2020-11-23 17:13:33
10,FMSV2018090006,Lung Central Hospital,EB-530T,1B084K400,Major,Approval,962.0,2018-09-05 11:31:19

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080007,HECI Center,EG-760Z,2G403K048,Minor,Approval,1705.0,2023-08-03 15:41:29
1,FMSV2023050029,HECI Center,EG-760Z,2G403K048,Minor,Approval,1667.0,2023-05-15 10:18:06
2,FMSV2020090016,HECI Center,EG-760Z,2G403K048,Minor,Approval,706.0,2020-09-08 16:49:03
3,FMSV2020050057,HECI Center,EG-760Z,2G403K048,Minor,Approval,NaN,2020-05-26 09:00:34

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080010,Friendship Hospital,VP-4450HD,1V567K516,Other,Approval,None,2023-08-03 20:08:35
1,FMSV2022090042,Friendship Hospital,VP-4450HD,1V567K516,Other,Decline,None,2022-09-20 17:43:05

Select by index[0]: 1
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042']
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023050038,ETC Company,EC-530WL3,2C643K211,Major,Approval,1600.0,2023-05-22 17:15:08
1,FMSV2019110001,ETC Company,EC-530WL3,2C643K211,Minor,Approval,962.0,2019-11-04 10:49:59

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043', 'FMSV2023050038']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023080039,"FUJIFILM Vietnam Co., Ltd.",EG-760Z,8G403K090,Maintain,Inspection,NaN,2023-08-11 15:46:38
1,FMSV2023050041,"FUJIFILM Vietnam Co., Ltd.",EG-760Z,8G403K090,Major,Approval,1432.0,2023-05-22 16:53:11

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043', 'FMSV2023050038', 'FMSV2023080039']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023060039,"FUJIFILM Vietnam Co., Ltd.",EC-600WL,1C692K176,Major,Approval,2220.0,2023-06-19 13:16:28
1,FMSV2023030013,"FUJIFILM Vietnam Co., Ltd.",EC-600WL,1C692K176,Minor,Approval,1271.0,2023-03-09 18:27:45
2,FMSV2022090029,"FUJIFILM Vietnam Co., Ltd.",EC-600WL,1C692K176,Minor,Approval,NaN,2022-09-20 16:31:51
3,FMSV2021120026,"FUJIFILM Vietnam Co., Ltd.",EC-600WL,1C692K176,Minor,Approval,121.0,2021-12-15 12:56:33
4,FMSV2018080035,Hoang Long Clinic,EC-600WL,1C692K176,Major,Transfer,1015.0,2018-08-10 09:35:28
5,FMSV2016090002,Hoang Long Clinic,EC-600WL,1C692K176,Minor,Approval,NaN,2016-09-06 11:41:46
6,FMSV2015030008,Hoang Long Clinic,EC-600WL,1C692K176,Minor,Approval,NaN,2015-03-18 16:58:57

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043', 'FMSV2023050038', 'FMSV2023080039', 'FMSV2023060039']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070033,"FUJIFILM Vietnam Co., Ltd.",EC-600ZW/M,1C694K030,Major,Approval,596.0,2023-07-17 14:31:49
1,FMSV2022120016,"FUJIFILM Vietnam Co., Ltd.",EC-600ZW/M,1C694K030,Minor,Approval,547.0,2022-12-19 10:30:58
2,FMSV2021110025,"FUJIFILM Vietnam Co., Ltd.",EC-600ZW/M,1C694K030,Minor,Approval,188.0,2021-11-04 18:14:53

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043', 'FMSV2023050038', 'FMSV2023080039', 'FMSV2023060039', 'FMSV2023070033']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070048,Tuyen Quang General Hospital,EC-530WL3,8C643K180,Minor,Approval,1650.0,2023-07-18 17:09:18
1,FMSV2022060012,Tuyen Quang General Hospital,EC-530WL3,8C643K180,Minor,Approval,658.0,2022-06-02 12:37:26

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043', 'FMSV2023050038', 'FMSV2023080039', 'FMSV2023060039', 'FMSV2023070033', 'FMSV2023070048']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070053,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,Minor,Approval,4530.0,2023-07-24 10:00:30
1,FMSV2022060062,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,Minor,Approval,NaN,2022-06-21 10:28:44
2,FMSV2021050028,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,Maintain,Inspection,3536.0,2021-05-19 15:32:55
3,FMSV2020100046,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,Major,Approval,3010.0,2020-10-16 09:15:36
4,FMSV2020100002,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,Minor,Approval,NaN,2020-10-01 13:29:32
5,FMSV2020050065,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,Major,Approval,2708.0,2020-05-29 15:52:50
6,FMSV2019080002,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,Major,Decline,1235.0,2019-08-01 10:20:51
7,FMSV2018120036,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,Major,Transfer,NaN,2018-12-26 16:54:11
8,FMSV2018010023,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,Major,Approval,NaN,2018-01-23 11:55:38

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043', 'FMSV2023050038', 'FMSV2023080039', 'FMSV2023060039', 'FMSV2023070033', 'FMSV2023070048', 'FMSV2023070053']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070062,Hanoi Medical University Hospital,EG-600WR,2G391K044,Minor,Approval,9060.0,2023-07-24 15:39:43
1,FMSV2023050059,Hanoi Medical University Hospital,EG-600WR,2G391K044,Minor,Approval,8711.0,2023-05-25 11:34:51
2,FMSV2023040011,Hanoi Medical University Hospital,EG-600WR,2G391K044,Minor,Approval,8599.0,2023-04-04 17:07:08
3,FMSV2022120078,Hanoi Medical University Hospital,EG-600WR,2G391K044,Minor,Approval,8498.0,2022-12-23 17:25:25
4,FMSV2022100041,Hanoi Medical University Hospital,EG-600WR,2G391K044,Minor,Approval,8455.0,2022-10-12 18:29:26
5,FMSV2022090013,Hanoi Medical University Hospital,EG-600WR,2G391K044,Minor,Approval,8348.0,2022-09-08 13:04:29
6,FMSV2022070018,Hanoi Medical University Hospital,EG-600WR,2G391K044,Minor,Approval,8582.0,2022-07-07 12:45:33
7,FMSV2021060026,Hanoi Medical University Hospital,EG-600WR,2G391K044,Major,Approval,7713.0,2021-06-15 14:18:31
8,FMSV2019040019,Hanoi Medical University Hospital,EG-600WR,2G391K044,Major,Approval,7509.0,2019-04-09 17:03:38
9,FMSV2019020019,Hanoi Medical University Hospital,EG-600WR,2G391K044,Minor,Approval,7494.0,2019-02-28 15:19:40
10,FMSV2018070024,Hanoi Medical University Hospital,EG-600WR,2G391K044,Minor,Approval,NaN,2018-07-23 13:10:48
11,FMSV2017110009,Hanoi Medical University Hospital,EG-600WR,2G391K044,Major,Approval,NaN,2017-11-16 13:21:39

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043', 'FMSV2023050038', 'FMSV2023080039', 'FMSV2023060039', 'FMSV2023070033', 'FMSV2023070048', 'FMSV2023070053', 'FMSV2023070062']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070063,Hanoi Medical University Hospital,EG-600WR,4G391K119,Minor,Approval,4021.0,2023-07-24 15:41:17
1,FMSV2023040030,Hanoi Medical University Hospital,EG-600WR,4G391K119,Minor,Approval,3479.0,2023-04-11 19:39:42
2,FMSV2022090050,Hanoi Medical University Hospital,EG-600WR,4G391K119,Major,Approval,2677.0,2022-09-22 21:08:54
3,FMSV2020100070,Hanoi Medical University Hospital,EG-600WR,4G391K119,Major,Cancel,2677.0,2020-10-29 13:13:58
4,FMSV2020040024,Hanoi Medical University Hospital,EG-600WR,4G391K119,Minor,Approval,NaN,2020-04-27 17:16:40

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043', 'FMSV2023050038', 'FMSV2023080039', 'FMSV2023060039', 'FMSV2023070033', 'FMSV2023070048', 'FMSV2023070053', 'FMSV2023070062', 'FMSV2023070063']

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Repair Size,Approval,Scope Connect Count,RECIEVE_DATE
0,FMSV2023070064,Nam Can Tho Medical Center,EG-530WR,9G361K611,Major,Approval,397.0,2023-07-24 16:32:50
1,FMSV2023030020,Nam Can Tho Medical Center,EG-530WR,9G361K611,Minor,Approval,279.0,2023-03-15 09:57:05
2,FMSV2021120006,ETC Company,EG-530WR,9G361K611,Minor,Approval,NaN,2021-12-03 15:38:39

Select by index[0]:
['FMSV2023050023', 'FMSV2023050079', 'FMSV2023070060', 'FMSV2023080011', 'FMSV2023080013', 'FMSV2022110047', 'FMSV2023080027', 'FMSV2023080029', 'FMSV2023080030', 'FMSV2023080034', 'FMSV2023080041', 'FMSV2023050064', 'FMSV2023060024', 'FMSV2023070014', 'FMSV2023070040', 'FMSV2023070055', 'FMSV2023070058', 'FMSV2023070073', 'FMSV2023080001', 'FMSV2023080007', 'FMSV2023080010', 'FMSV2022090042', 'FMSV2023040043', 'FMSV2023050038', 'FMSV2023080039', 'FMSV2023060039', 'FMSV2023070033', 'FMSV2023070048', 'FMSV2023070053', 'FMSV2023070062', 'FMSV2023070063', 'FMSV2023070064']

In [7]:
len(rma_record)

32

In [11]:
#combine receive
rma_list = tuple(rma_record)
q = f'''
        SELECT  DISTINCT c.[rma no.],c.customer_name,c.model,c.serial_no,
        strftime('%Y-%m-%d',CASE 
            WHEN receive NOT NULL THEN receive
            ELSE c.recieve_date END) AS [Receive Date (IN)],
        
        CASE
            WHEN m.quotation IS NULL THEN c.in_inspect_date
            WHEN m.quotation IN ('FOC','WARRANTY') THEN c.in_inspect_date
            ELSE m.quotation  END as [Quoted Date],
        
        confirmation AS [PO rec. Date],
        m.part_order_date as [Part Order Date],
        CASE
            WHEN m.part_received_date NOT NULL THEN m.part_received_date
            ELSE c.[Part Select Date] END AS [Part Receive Date],
        ROUND(JULIANDAY(m.note) - JULIANDAY(c.[Part Select Date])) AS [TAT Parts],
        
        CASE 
            WHEN m.start_repair NOT NULL THEN m.start_repair
            ELSE strftime('%Y-%m-%d',re.[Start Time]) END AS[Repair Start Date],
        ROUND(JULIANDAY(c.qc) - JULIANDAY(re.[Start Time])) AS [TAT Repair],
        CASE
            WHEN m.qc_date NOT NULL THEN m.qc_date
            ELSE strftime('%Y-%m-%d',c.qc) END AS [Ship Date (OUT)],
        
        ROUND(JULIANDAY(c.qc) - JULIANDAY(receive)) AS [TAT Days Completed]
        
        FROM (consolidated c
        LEFT JOIN repair_code re ON c.[RMA NO.] = re.[RMA NO.])
        LEFT JOIN new_ml m ON c.[RMA NO.] = m.rma
        WHERE c.[rma no.] IN {rma_list}
        
        ORDER BY c.[rma no.]
        
    '''

tat_repair = pd.read_sql(q,conn)
tat_repair#.to_excel('inspection\\tat_repair.xlsx',index=False)

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Receive Date (IN),Quoted Date,PO rec. Date,Part Order Date,Part Receive Date,TAT Parts,Repair Start Date,TAT Repair,Ship Date (OUT),TAT Days Completed
0,FMSV2022090042,Friendship Hospital,VP-4450HD,1V567K516,2022-09-20,2022-09-21 13:51:45,None,None,2023-03-01 17:35:16,None,None,NaN,None,NaN
1,FMSV2022110047,Bac Giang Hospital,EG-530WR,2G361K552,2022-11-17,2022-11-21 18:28:43,None,None,2023-03-01 17:51:32,None,None,NaN,None,NaN
2,FMSV2023040043,"FUJIFILM Vietnam Co., Ltd.",ED-580XT,2D127K107,2023-04-14,2023-04-18 19:05:06,None,None,2023-07-27 20:12:28,None,2023-07-27,NaN,None,NaN
3,FMSV2023050023,Hai Duong Tuberculosis Hospital,EB-530T,1B084K198,2023-05-09,2023-06-28 00:00:00,2023-08-01 00:00:00,None,2023-08-04 17:35:12,None,2023-08-04,NaN,None,NaN
4,FMSV2023050038,ETC Company,EC-530WL3,2C643K211,2023-05-22,2023-05-22 17:35:11,None,None,2023-07-25 15:53:56,None,2023-07-25,6.0,2023-07-31,NaN
5,FMSV2023050064,Hanoi Medical University Hospital,EC-600WI,5C692K030,2023-05-25,2023-05-30 09:50:49,None,None,2023-06-27 10:56:19,None,2023-08-07,NaN,None,NaN
6,FMSV2023050079,Thai Binh Hospital,EC-530WL3,KC643K248,2023-05-30,2023-06-01 13:29:45,None,None,2023-08-04 18:28:34,None,2023-08-04,NaN,None,NaN
7,FMSV2023060024,HECI Center,EG-760R,3G402K143,2023-06-09,2023-06-09 16:15:33,None,None,2023-08-02 15:14:09,None,2023-08-01,1.0,2023-08-02,NaN
8,FMSV2023060039,"FUJIFILM Vietnam Co., Ltd.",EC-600WL,1C692K176,2023-06-19,2023-06-20 17:19:41,None,None,2023-07-24 17:13:18,None,2023-07-24,3.0,2023-07-27,NaN
9,FMSV2023070014,VIET MY GENERAL CLINIC,EG-250WR5,1G202K621,2023-07-10,2023-07-10 11:51:45,None,None,2023-08-03 10:17:04,None,2023-08-03,11.0,2023-08-14,NaN
10,FMSV2023070033,"FUJIFILM Vietnam Co., Ltd.",EC-600ZW/M,1C694K030,2023-07-17,2023-07-17 14:39:35,None,None,2023-07-27 10:17:48,None,2023-07-27,0.0,2023-07-27,NaN
11,FMSV2023070040,103 Military Hospital,EC-600WI,3C692K105,2023-07-14,2023-07-20 10:40:17,None,None,2023-07-20 10:40:23,None,2023-07-20,4.0,2023-07-24,NaN
12,FMSV2023070048,Tuyen Quang General Hospital,EC-530WL3,8C643K180,2023-07-18,2023-07-21 16:12:14,None,None,2023-07-21 16:13:02,None,2023-07-21,6.0,2023-07-27,NaN
13,FMSV2023070053,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,2023-07-24,2023-07-24 12:02:27,None,None,2023-07-24 12:02:38,None,2023-07-24,0.0,2023-07-24,NaN
14,FMSV2023070055,Vietnam-Sweden Uong Bi Hospital,EG-530FP,2G374K400,2023-07-20,2023-07-20 16:42:06,None,None,2023-07-31 18:11:34,None,2023-07-31,NaN,None,NaN
15,FMSV2023070058,DONG HUNG HOSPITAL,EB-530S,2B083K071,2023-07-24,2023-07-27 12:25:23,None,None,2023-07-31 17:01:26,None,2023-07-31,NaN,None,NaN
16,FMSV2023070060,Hanoi Medical University Hospital,EG-600WR,2G391K784,2023-07-24,2023-07-25 17:40:42,None,None,2023-07-25 17:40:52,None,2023-07-25,NaN,None,NaN
17,FMSV2023070062,Hanoi Medical University Hospital,EG-600WR,2G391K044,2023-07-24,2023-07-25 18:37:34,None,None,2023-07-25 18:37:46,None,2023-07-25,NaN,None,NaN
18,FMSV2023070063,Hanoi Medical University Hospital,EG-600WR,4G391K119,2023-07-24,2023-07-25 16:32:20,None,None,2023-07-25 16:32:31,None,2023-07-25,NaN,None,NaN
19,FMSV2023070064,Nam Can Tho Medical Center,EG-530WR,9G361K611,2023-07-24,2023-07-24 17:53:06,None,None,2023-07-25 15:51:05,None,2023-07-25,6.0,2023-07-31,NaN
20,FMSV2023070073,Hung Cuong Hospital-Hiep Hoa- Bac Giang,EG-530WR,JG361K231,2023-07-27,2023-08-01 17:42:52,None,None,2023-08-01 17:43:27,None,2023-08-01,NaN,None,NaN
21,FMSV2023080001,National Lung Hospital,EB-530T,1B084K400,2023-08-01,2023-08-03 19:33:47,None,None,2023-08-03 19:34:03,None,2023-08-03,NaN,None,NaN
22,FMSV2023080007,HECI Center,EG-760Z,2G403K048,2023-08-03,2023-08-03 15:42:52,None,None,2023-08-03 15:42:57,None,2023-08-03,1.0,2023-08-04,NaN
23,FMSV2023080010,Friendship Hospital,VP-4450HD,1V567K516,2023-08-03,2023-08-03 20:09:32,None,None,2023-08-03 20:10:33,None,2023-08-03,4.0,2023-08-07,NaN
24,FMSV2023080011,No. 91 Endoscopy-Gastrointestinal-GI Scaning T...,EG-760Z,2G403k047,2023-08-04,2023-08-04 11:20:52,None,None,2023-08-10 12:13:36,None,2023-08-04,10.0,2023-08-14,10.0
25,FMSV2023080013,Bac Giang Hospital,EG-530WR,2G361K552,2023-08-04,2023-08-04 15:38:08,None,None,2023-08-04 15:39:02,None,2023-08-04,6.0,2023-08-10,6.0
26,FMSV2023080027,Hanoi Medical University Hospital,EG-600WR,2G391K036,2023-08-07,2023-08-09 17:02:40,None,None,2023-08-09 17:02:55,None,2023-08-09,1.0,2023-08-10,3.0
27,FMSV2023080029,"FUJIFILM Vietnam Co., Ltd.",EG-740N,1G399K079,2023-08-07,2023-08-10 18:08:00,None,None,2023-08-10 18:08:15,None,2023-08-10,NaN,None,NaN
28,FMSV2023080030,"FUJIFILM Vietnam Co., Ltd.",EG-760R,8G402K627,2023-08-07,2023-08-10 12:29:44,None,None,2023-08-10 12:29:53,None,2023-08-10,NaN,None,NaN
29,FMSV2023080034,Hanoi Medical University Hospital,EG-600WR,9G391K110,2023-08-08,2023-08-10 11:46:17,None,None,2023-08-10 11:48:54,None,2023-08-10,0.0,2023-08-10,2.0
30,FMSV2023080039,"FUJIFILM Vietnam Co., Ltd.",EG-760Z,8G403K090,2023-08-11,2023-08-11 15:47:56,None,None,2023-08-11 15:48:01,None,None,NaN,None,NaN
31,FMSV2023080041,Dong Thap General Hospital,EG-530WR,7G361K177,-4589-07-08,2023-08-11 16:28:02,None,None,2023-08-11 16:28:29,None,2023-08-11,NaN,None,NaN

In [12]:
tat_repair.to_excel('inspection\\tat_repair.xlsx',index=False)
xw.Book('inspection\\tat_repair.xlsx')

In [ ]:
pd.read_sql('select WORKINGDAY(strptime("2023-05-15","%Y-%m-%d"),strptime("2023-05-28","%Y-%m-%d"))',conn)

In [ ]:
q = f'''
        SELECT DISTINCT re.[rma no.],re.[Start Time],
        (re.[End Time]-re.[Start Time]) as [TAT Repair],re.[End Time]
        
        FROM repair_code re
        WHERE re.[rma no.] IN {tuple(rma_list)}
    '''
pd.read_sql(q,conn).to_excel('inspection\\tat_repair.xlsx')

### HCAP KICK-OFF

In [ ]:

q = '''SELECT * 
        
        FROM transfers
        WHERE return IS  NULL
        AND customer NOT LIKE '%FUJIFILM%'

    '''

pd.read_sql(q,conn)
# 181 items

In [ ]:
# amount of waiting confirm
q = '''SELECT COUNT(*),SUM(price) AS [Amount of Waiting confirm($)]
        FROM m_list
        WHERE status LIKE '%waiting confirm'
    '''
pd.read_sql(q,conn)

In [ ]:
# total price
q = '''
        SELECT COUNT(*),SUM(part_list_date) AS [Amount of Transfers($)]
        FROM transfers
        WHERE return is null
        AND customer NOT LIKE '%FUJIFILM%'
    '''
pd.read_sql(q,conn)

In [ ]:
# min receive
q = '''SELECT MIN(RECEIVE)
        from transfers
        WHERE return is null
        AND part_list_date not null
        '''
pd.read_sql(q,conn)

In [ ]:
# GROUP BY CUSTOMER
q = '''
        SELECT customer,round(sum(part_list_date),0) AS [Price($)]
        FROM TRANSFERS
        WHERE return is null
        AND part_list_date NOT NULL
        AND customer NOT LIKE '%FUJIFILM%'
        
        group by customer
        HAVING [price($)] >10000
        ORDER BY [price($)] DESC
    '''
pd.read_sql(q,conn)

In [ ]:
#count BY customer
q = '''SELECT customer,round(sum(part_list_date),0) AS [Price($)], count(*) AS [count]
        
        FROM transfers
        
        WHERE return is null
        AND part_list_date NOT NULL
        AND customer NOT LIKE '%FUJIFILM%'
        
        GROUP BY customer
        HAVING [count] >=3
        ORDER BY [Price($)] DESC,[count] DESC
        

'''

pd.read_sql(q,conn)

### Bach Mai

In [ ]:
customer_name = 'Bach Mai Hospital'
q = f'''SELECT model,count(*) As [Quantity], round(sum(part_list_date)) AS [Amount($)]
        FROM transfers
        
        WHERE return is null
        
        AND part_list_date NOT NULL
        AND customer = '{customer_name}'
        
        GROUP BY model
        ORDER BY [Amount($)] DESC
        
    
    '''
pd.read_sql(q,conn)

In [ ]:
model ='EG-600WR'

q = f'''SELECT rma,tf.model,sn,strftime("%d-%m-%Y",receive) as received,
                strftime("%Y",[date installed]) as[Year Installed],

                issue,round(part_list_date) AS [Dealer Price (GP 41%)],
                round(part_list_date*0.85) AS [GP 20%]
        
        FROM transfers tf
        LEFT JOIN install ins ON tf.sn = ins.[serial no.]
        
        WHERE return is null
        AND part_list_date NOT NULL
        AND customer = '{customer_name}'
        and tf.model = '{model}'
        ORDER BY [Year Installed] DESC, [Dealer Price (GP 41%)] DESC
    '''
print(f'{customer_name.upper()} - Model: {model}')
pd.read_sql(q,conn)

In [ ]:
model ='EC-600WI'

q = f'''SELECT rma,tf.model,sn,strftime("%d-%m-%Y",receive) as received,
                strftime("%Y",[date installed]) as[Year Installed],

                issue,round(part_list_date) - round(part_list_date*0.85) AS [GP 20%]
        
        FROM transfers tf
        LEFT JOIN install ins ON tf.sn = ins.[serial no.]
        
        WHERE return is null
        AND part_list_date NOT NULL
        AND customer = '{customer_name}'
        and tf.model = '{model}'
        ORDER BY [Year Installed] DESC, [GP 20%] DESC
    '''
print(f'{customer_name.upper()} - Model: {model}')
pd.read_sql(q,conn)