In [1]:
import sources.logins as lg
from sqlite3 import connect
import sources.parts_list_0705 as pl
import pandas as pd
from datetime import datetime as dt
import xlwings as xw

In [5]:
d_type = str(input('Data download type (Default None): ') or '')
# d_type = 'all' #download for routine-> ignore #
lg.download_consolidated(d_type)

# Rename for Download All
if d_type.lower() =='all':
    folder_name = 'Downloads'
    file,ctime = lg.file_latest(folder_name)
    new_name = f'{file.split(".")[0]}_All.xls'
    fname = os.path.join(folder_name,file)
    n_name =  os.path.join(folder_name,new_name)
    try:
        os.rename(fname,n_name)
    except Exception as e:
        print (e)
lg.backups('Downloads','files','.xls')

Data download type (Default None):

Select account:
1   |   thongle
2   |   Nguyen
0   |   CREATE NEW ACCOUNT
Select account by number: 1
thongle is selected to login
Removed Downloads


Create new folder: Downloads
Select Chrome Driver and press enter for authorize Certificate...

Typing your ID...
Typing your password...
Login sucessful!

Please wait for dowloading...0s

Donwload file SearchResultConsolidated.xls succesful at 25-Jul-23 15:13
SearchResultConsolidated.xls    25-Jul-23 15:13 was backup to files

In [2]:
# initialize
a =pl.parts_list()

try:
    conn.close()
    print('Database Closed.')
except:
    pass
intro = str(a.__doc__).split('\n')
for i in intro:
    print(i)
conn = a.question()
# pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'",conn)

Tao part list tu RMA ver 3.1.0
	Them hang print tilte GDKT
	Them GDKT tu dong
	Them def list_rma
Update data(y/N): n

Select Database:

______________________________________________________________________
|  No.|  File Name                               |  Modified Time    |
|____________________________________________________________________|
|  1  |  history.db                              |  21-Jul-23 16:34  |
|  2  |  quotation.db                            |  25-Jul-23 16:14  |
|____________________________________________________________________|
Select file (Default 1): 2
"quotation.db" is selected

 Used exists data.

In [ ]:
# check all table
pd.read_sql("SELECT name FROM sqlite_master WHERE type ='table'",conn)

In [ ]:
#call header from m_list
cursor = conn.execute('select * from m_list')
names = list(map(lambda x: x[0], cursor.description))
names
for name in names: print(name)

In [ ]:
cur = conn.cursor()

In [ ]:
conn = connect('quotation.db')

In [ ]:
cur = conn.cursor()

# cur.execute("DROP TABLE IF EXISTS new_ml")
# conn.close()

In [ ]:
conn.close()

In [4]:
pd.read_sql('SELECT * from new_ml',conn)

,No,rma,cus_type,customer,dealer,location,installed_date,model,sn,scope_type,...,note,exfm_status,exfm_info,approval,repair_user,update_time,update_user,TAT_receive,TAT_PO,TAT_PART
0,1.0,FMSV2023020019,FF asset,"FUJIFILM Vietnam Co., Ltd.",None,Hanoi,2019-12-04 00:00:00,EC-760ZP-V/M,2C730K027,Colono,...,#PO109,Inspection,Parts on Order,None,None,2023-06-06 11:26:47.886000,FFAP0066,None,None,None
1,2.0,FMSV2023020022,FF asset,FTYO - Loaner Asset,None,Hanoi,2018-05-11 00:00:00,EC-760ZP-V/M,2C730K032,Colono,...,#PO109,Inspection,Parts on Order,None,None,2023-06-06 11:25:51.529000,FFAP0066,None,None,None
2,3.0,FMSV2023020034,Private,Hoang Long Clinic,Trang Thi,Hanoi,2017-01-09 00:00:00,EC-760R-V/I,1C728K180,Colono,...,SPR Project,Inspection,Awating Parts billing,None,None,2023-06-30 15:36:27.579000,thang,None,None,None
3,4.0,FMSV2023020050,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2016-06-06 00:00:00,EC-600WI,1C692K487,Colono,...,Confirmed: 27-Feb.,Parts Selection,Waiting for Parts,None,None,2023-05-29 11:56:38.464000,thongle,None,None,None
4,5.0,FMSV2023020067,Government,Hanoi Medical University Hospital,None,Hanoi,2016-05-18 00:00:00,VP-4450HD,2V567K684,Processor,...,1. Less than 4 weeks after giving the quotation,Inspection,Waiting for Parts,None,None,2023-07-11 10:55:22.985000,thongle,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,NaN,FMSV2023070060,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2017-05-15 00:00:00,EG-600WR,2G391K784,Gastro,...,None,None,,None,None,None,None,None,None,None
145,NaN,FMSV2023070061,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2019-01-01 00:00:00,EG-600WR,4G391K232,Gastro,...,None,None,,None,None,None,None,None,None,None
146,NaN,FMSV2023070062,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2016-05-18 00:00:00,EG-600WR,2G391K044,Gastro,...,None,None,,None,None,None,None,None,None,None
147,NaN,FMSV2023070063,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2019-01-01 00:00:00,EG-600WR,4G391K119,Gastro,...,None,None,,None,None,None,None,None,None,None
148,NaN,FMSV2023070064,,Nam Can Tho Medical Center,,HCM,2022-06-10 00:00:00,EG-530WR,9G361K611,Gastro,...,None,None,,None,None,None,None,None,None,None

In [ ]:
# pd.read_sql("SELECT name,type FROM pragma_table_info('new_ml')",conn)

In [ ]:
table = """
            CREATE TABLE new_ml (
            rma TEXT,
            cus_type TEXT,
            customer TEXT,
            dealer TEXT,
            location TEXT,
            installed_date TIMESTAMP,
            model CHAR(25),
            sn CHAR(25),
            scope_type TEXT,
            model2 CHAR(25),
            wty_end_date TIMESTAMP,
            receive TIMESTAMP,
            
            inspection TIMESTAMP,
            report_id CHAR(25),
            repair_size CHAR,
            issue TEXT,
            price INTEGER,
            quotation TIMESTAMP,
            confirmation TIMESTAMP,
            
            stock_po TEXT,
            part_order_date TIMESTAMP,
            part_received_date TIMESTAMP,
            apas_no TEXT,
            apas_approved_date TIMESTAMP,
            
            start_repair TIMESTAMP,
            qc_date TIMESTAMP,
            return_date TIMESTAMP,
            link TEXT,
            pic CHAR(25),
            status TEXT,
            note TEXT,
            
            exfm_status TEXT,
            exfm_info TEXT,
            approval TEXT,
            repair_user TEXT,
            update_time TIMESTAMP,
            update_user CHAR(25),
            
            TAT_receive INTEGER,
            TAT_PO TEXT,
            TAT_PART TEXT
            
    );"""

In [ ]:
cur.execute(table)

In [ ]:
m_list = pd.read_sql('SELECT * FROM m_list',conn)
# m_list

In [ ]:
#convert from m_list into new_ml

for i in range(len(m_list)):
    for j in range(len(m_list.iloc[i])):
        if m_list.iloc[i][j] == None:m_list.iloc[i][j] =''
    pending = f"""
            INSERT INTO new_ml (rma,cus_type,customer,dealer,location,installed_date,model,sn,
                                scope_type, model2,wty_end_date,receive,inspection,report_id,
                                repair_size,issue,price,quotation,confirmation,
                                link,pic,status,note,exfm_status,exfm_info,approval,repair_user,
                                update_time,update_user,TAT_receive,TAT_PO,TAT_PART)
                        VALUES ('{m_list.iloc[i]['RMA']}','{m_list.iloc[i]['cus']}','{m_list.iloc[i]['Customer']}','{m_list.iloc[i]['Dealer']}',
                        '{m_list.iloc[i]['Location']}','{m_list.iloc[i]['installed date']}','{m_list.iloc[i]['Model']}','{m_list.iloc[i]['SN']}',
                        '{m_list.iloc[i]['Type']}','{m_list.iloc[i]['model2']}','{m_list.iloc[i]['Warranty_Date']}','{m_list.iloc[i]['Receive']}',
                        '{m_list.iloc[i]['Inspection']}','{m_list.iloc[i]['Report_ID']}',
                        '{m_list.iloc[i]['MJ_mn']}','{m_list.iloc[i]['Issue']}','{m_list.iloc[i]['Price']}','{m_list.iloc[i]['Quotation']}','{m_list.iloc[i]['Confirmation']}',
                        '{m_list.iloc[i]['Link']}','{m_list.iloc[i]['PIC']}','{m_list.iloc[i]['Status']}','{m_list.iloc[i]['Note']}',
                        '{m_list.iloc[i]['ExFM Status']}','{m_list.iloc[i]['ExFM Info']}','{m_list.iloc[i]['Approval']}','{m_list.iloc[i]['Repair']}',
                        '{m_list.iloc[i]['Update']}','{m_list.iloc[i]['update_user']}','{m_list.iloc[i]['TAT received']}','{m_list.iloc[i]['TAT PO']}','{m_list.iloc[i]['waiting for part']}'
                        
                        )
    """
    cur.execute(pending)
#     print(pending)

In [ ]:
conn.commit()

In [ ]:
q = 'SELECT * FROM new_ml;'
pd.read_sql(q,conn)

In [7]:
# call function task review
sr = pl.summary_report()
task = sr.task_review(conn)

    Task  Receive  Repair  Ship
0    HCM        0       1     1
1  Hanoi        4       5     1

In [8]:
#filter HCM
location = 'HCM'

print('Receive')
list_task = ['Create','Receive']

a_table = task[(task['location']==location)&(task['REPAIR_STATUS'].isin(list_task))]
for sn in a_table['SERIAL_NO']:
    print(sn)
display(a_table.drop(['repair_id','Start Time','End Time','location'],axis=1))

print('Under repair')
list_task = ['Inspection','Authorization']
a_table = task[(task['location']==location)&(task['REPAIR_STATUS'].isin(list_task))]

for sn in a_table['SERIAL_NO']:
    print(sn)
display(a_table.drop(['location','repair_id'],axis=1))

# QC and shipout
print('QC and Ship out')
list_task = ['Repair','QC']
a_table = task[(task['location']==location)&(task['REPAIR_STATUS'].isin(list_task))]

for sn in a_table['SERIAL_NO']:
    print(sn)
display(a_table.drop(['location','repair_id'],axis=1))

Receive
1G402K686

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Receive,REPAIR_STATUS,update_user
0,FMSV2023070054,No. 91 Endoscopy-Gastrointestinal-GI Scaning T...,EG-760R,1G402K686,None,Create,Le Quang Thong

Under repair
9G361K611

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Receive,Start Time,End Time,REPAIR_STATUS,update_user
1,FMSV2023070064,Nam Can Tho Medical Center,EG-530WR,9G361K611,2023-07-24 16:32:50,2023-07-25 13:51:29,None,Authorization,Nguyen Thai

QC and Ship out
1C728K139

,RMA No.,CUSTOMER_NAME,MODEL,SERIAL_NO,Receive,Start Time,End Time,REPAIR_STATUS,update_user
2,FMSV2023070053,"FUJIFILM Vietnam Co., Ltd.",EC-760R-V/I,1C728K139,2023-07-24 10:00:30,2023-07-24 10:02:59,2023-07-24 14:28:42,QC,Nguyen Thai

In [12]:
# new job no empty
q = f'''
        SELECT DISTINCT
                c.[rma no.],cu.customer_type,customer_name,cu.dealer,e.location,
                c.[create] as [Create Date],c.[Date Installed] AS [Installed Date],
                c.Model,c.Serial_no as Serial,sc.type,sc.mo,
                c.warranty_end_date as [Warranty End],c.recieve_date as [Received Date],
                c.in_inspect_date as [Inspection Date],c.[repair size] as [Size],c.[update user] as PIC,
                CASE
                    WHEN sc.status IS NULL THEN c.repair_status
                    ELSE sc.status || c.repair_status END AS [Status]
        
        FROM (((consolidated c
             LEFT JOIN pf_code pf on c.[rma no.] = pf.[rma no.])
             LEFT JOIN customerS cu ON c.[customer_code] = cu.[No.])
             LEFT JOIN engineers e ON c.[update user] = e.exfm_code)
             LEFT JOIN scopes sc ON c.model = sc.model
        WHERE c.[rma no.] > (select max(rma) from new_ml)
        
        ORDER BY c.[rma no.]
            
    '''
newjob = pd.read_sql(q,conn)
print(len(newjob))
newjob

0

Empty DataFrame
Columns: [RMA No., customer_type, CUSTOMER_NAME, dealer, location, Create Date, Installed Date, MODEL, Serial, Type, mo, Warranty End, Received Date, Inspection Date, Size, PIC, Status]
Index: []

In [13]:
# add new job into ML

m_list = pd.read_sql('SELECT * FROM new_ml',conn)
bb = pl.summary_report()
cur = conn.cursor()
for i in range(len(newjob)):
    rma = newjob.iloc[i]['RMA No.']
    issue = bb.issues(conn,rma)
    i_no = i + len(m_list) + 1
    for j in range(len(newjob.iloc[i])):
        if newjob.iloc[i][j] == None:newjob.iloc[i][j] =''
            
    cur.execute(f"""INSERT INTO new_ml(rma,cus_type,Customer,Dealer,Location,installed_date,
                                       model,sn,scope_type,model2,wty_end_date,receive,inspection,repair_size,issue,
                                       pic,status) 
                    VALUES('{newjob.iloc[i]['RMA No.']}','{newjob.iloc[i]['customer_type']}',"{newjob.iloc[i]['CUSTOMER_NAME']}",
                    '{newjob.iloc[i]['dealer']}','{newjob.iloc[i]['location']}',
                    '{str(newjob.iloc[i]['Installed Date'])}','{newjob.iloc[i]['MODEL']}','{newjob.iloc[i]['Serial']}',
                    '{newjob.iloc[i]['Type']}','{newjob.iloc[i]['mo']}','{newjob.iloc[i]['Warranty End']}',
                    '{newjob.iloc[i]['Received Date']}','{str(newjob.iloc[i]['Inspection Date'])}','{newjob.iloc[i]['Size']}',
                    "{issue}","{newjob.iloc[i]['PIC']}","{newjob.iloc[i]['Status']}")
    """)

# save conn
conn.commit()

In [11]:
pd.read_sql('SELECT * FROM new_ml',conn)

,No,rma,cus_type,customer,dealer,location,installed_date,model,sn,scope_type,...,note,exfm_status,exfm_info,approval,repair_user,update_time,update_user,TAT_receive,TAT_PO,TAT_PART
0,1.0,FMSV2023020019,FF asset,"FUJIFILM Vietnam Co., Ltd.",None,Hanoi,2019-12-04 00:00:00,EC-760ZP-V/M,2C730K027,Colono,...,#PO109,Inspection,Parts on Order,None,None,2023-06-06 11:26:47.886000,FFAP0066,None,None,None
1,2.0,FMSV2023020022,FF asset,FTYO - Loaner Asset,None,Hanoi,2018-05-11 00:00:00,EC-760ZP-V/M,2C730K032,Colono,...,#PO109,Inspection,Parts on Order,None,None,2023-06-06 11:25:51.529000,FFAP0066,None,None,None
2,3.0,FMSV2023020034,Private,Hoang Long Clinic,Trang Thi,Hanoi,2017-01-09 00:00:00,EC-760R-V/I,1C728K180,Colono,...,SPR Project,Inspection,Awating Parts billing,None,None,2023-06-30 15:36:27.579000,thang,None,None,None
3,4.0,FMSV2023020050,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2016-06-06 00:00:00,EC-600WI,1C692K487,Colono,...,Confirmed: 27-Feb.,Parts Selection,Waiting for Parts,None,None,2023-05-29 11:56:38.464000,thongle,None,None,None
4,5.0,FMSV2023020067,Government,Hanoi Medical University Hospital,None,Hanoi,2016-05-18 00:00:00,VP-4450HD,2V567K684,Processor,...,1. Less than 4 weeks after giving the quotation,Inspection,Waiting for Parts,None,None,2023-07-11 10:55:22.985000,thongle,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,NaN,FMSV2023070060,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2017-05-15 00:00:00,EG-600WR,2G391K784,Gastro,...,None,None,,None,None,None,None,None,None,None
145,NaN,FMSV2023070061,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2019-01-01 00:00:00,EG-600WR,4G391K232,Gastro,...,None,None,,None,None,None,None,None,None,None
146,NaN,FMSV2023070062,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2016-05-18 00:00:00,EG-600WR,2G391K044,Gastro,...,None,None,,None,None,None,None,None,None,None
147,NaN,FMSV2023070063,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2019-01-01 00:00:00,EG-600WR,4G391K119,Gastro,...,None,None,,None,None,None,None,None,None,None
148,NaN,FMSV2023070064,,Nam Can Tho Medical Center,,HCM,2022-06-10 00:00:00,EG-530WR,9G361K611,Gastro,...,None,None,,None,None,None,None,None,None,None

In [14]:
q = '''select max([UPDATE_time]) AS max_update FROM new_ml'''
udt = pd.read_sql(q,conn)
update_time = udt['max_update'][0]
print(update_time)

# filter new update in consolidated 
cur = conn.cursor()
q = f'''

        SELECT c.[rma no.],c.customer_name,c.model,c.serial_no,
        
                c.recieve_date,c.[repair size],c.[update user],c.in_inspect_date,c.repair_status,c.[status info],
                c.[other id],c.last_update_time,c.approval,c.[repair user name],
                c.[update time]
        FROM consolidated c
        WHERE c.[update time] > '{update_time}'
        AND C.[rma no.] IN (SELECT rma FROM m_list)
        
        ORDER BY 1
        
    '''
update_job = pd.read_sql(q,conn)
print(len(update_job))
# update_job

2023-07-24 15:45:28.210000
1

In [15]:
# update all
bb = pl.summary_report() # create issue
cur = conn.cursor()
m_list = pd.read_sql('SELECT * FROM new_ml',conn)
for i in range(len(update_job)):
# i = 0

    rma = update_job.iloc[i]['RMA No.']
    issue = bb.issues(conn,rma)
    print(issue)
    #replace none to empty
    for j in range(len(update_job.iloc[i])):
        if update_job.iloc[i][j] == None:update_job.iloc[i][j] =''

    # UPDATE GENERAL
    q = f""" UPDATE new_ml 
                SET receive = '{update_job.iloc[i]["RECIEVE_DATE"]}',
                inspection = '{update_job.iloc[i]['IN_INSPECT_DATE']}',
                exfm_status = '{update_job.iloc[i]['REPAIR_STATUS']}',
                approval = '{update_job.iloc[i]['Approval']}',
                repair_user = '{update_job.iloc[i]['Repair User Name']}',
                update_time = '{update_job.iloc[i]['Update Time']}',
                update_user = '{update_job.iloc[i]['Update User']}',
                exfm_info = '{update_job.iloc[i]['Status Info']}' 
                
                WHERE RMA = '{rma}'"""
    cur.execute(q)
    #update fixed item
    fixed_items = ['receive','report_id','inspection','repair_size']
    update_items = ['RECIEVE_DATE','Other ID','IN_INSPECT_DATE','Repair Size']
#     update_items[fixed_items.index('Report_ID')]       # compare each point
    
    for item in fixed_items:
        if str(m_list[m_list['rma']==rma][item])=='':
            cur.execute(f'''
                            UPDATE new_ml SET '{item}' = '{updatejob.iloc[i][update_items[fixed_items.index(item)]]}'
                            WHERE RMA = '{rma}'
                        ''')
            print(f'Update {rma}: {item} values {updatejob.iloc[i][update_items[fixed_items.index(item)]]}')
conn.commit()

CHA, WGB/NOZ

In [15]:
# update empty status
bb = pl.summary_report() # create issue
cur = conn.cursor()
m_list = pd.read_sql('SELECT * FROM new_ml',conn)

q = f'''
        SELECT m.rma,m.customer,m.model,m.sn,C.[repair_status],c.[status info],m.exfm_status,m.exfm_info
        
        FROM new_ml m
        LEFT JOIN consolidated c ON m.rma = c.[rma no.]
        
    '''
stt_info = pd.read_sql(q,conn)
display(stt_info)
for i in range(len(stt_info)):
# i = 0
#     print(i)
    rma = m_list.iloc[i]['rma']
    issue = bb.issues(conn,rma)
#     print(rma,issue)
    
    #replace none to empty
    for j in range(len(stt_info.iloc[i])):
        if stt_info.iloc[i][j] == None:stt_info.iloc[i][j] =''

    # UPDATE GENERAL
    cur.execute(f"""UPDATE new_ml SET issue = '{issue}',
    exfm_info = '{stt_info.iloc[i]['Status Info']}' WHERE rma = '{rma}'""")
    
conn.commit()

,rma,customer,model,sn,REPAIR_STATUS,Status Info,exfm_status,exfm_info
0,FMSV2023020019,"FUJIFILM Vietnam Co., Ltd.",EC-760ZP-V/M,2C730K027,Inspection,Parts on Order,Inspection,Parts on Order
1,FMSV2023020022,FTYO - Loaner Asset,EC-760ZP-V/M,2C730K032,Inspection,Parts on Order,Inspection,Parts on Order
2,FMSV2023020034,Hoang Long Clinic,EC-760R-V/I,1C728K180,Inspection,Awating Parts billing,Inspection,Awating Parts billing
3,FMSV2023020050,Hanoi Medical University Hospital,EC-600WI,1C692K487,Parts Selection,Waiting for Parts,Parts Selection,Waiting for Parts
4,FMSV2023020067,Hanoi Medical University Hospital,VP-4450HD,2V567K684,Inspection,Waiting for Parts,Inspection,Waiting for Parts
...,...,...,...,...,...,...,...,...
144,FMSV2023070060,Hanoi Medical University Hospital,EG-600WR,2G391K784,Receive,None,None,None
145,FMSV2023070061,Hanoi Medical University Hospital,EG-600WR,4G391K232,Receive,None,None,None
146,FMSV2023070062,Hanoi Medical University Hospital,EG-600WR,2G391K044,Receive,None,None,None
147,FMSV2023070063,Hanoi Medical University Hospital,EG-600WR,4G391K119,Receive,None,None,None
148,FMSV2023070064,Nam Can Tho Medical Center,EG-530WR,9G361K611,Inspection,None,None,None

In [16]:
q ='''SELECT rma,sn,receive,c.recieve_date,inspection,c.in_inspect_date,m.status,m.issue,c.repair_status

        FROM new_ml m
        LEFT JOIN consolidated c ON m.rma = c.[rma no.]
        WHERE receive IS NULL
    '''
receive_inspect = pd.read_sql(q,conn)
receive_inspect

Empty DataFrame
Columns: [rma, sn, receive, RECIEVE_DATE, inspection, IN_INSPECT_DATE, status, issue, REPAIR_STATUS]
Index: []

In [17]:
# Fixe recieve, inspection, exfm status
for i in range(len(receive_inspect)):
    rma = receive_inspect.iloc[i]['rma']
    issue = bb.issues(conn,rma)
    
    #replace none to empty
    for j in range(len(receive_inspect.iloc[i])):
        if receive_inspect.iloc[i][j] == None:receive_inspect.iloc[i][j] =''

    # UPDATE GENERAL
    cur.execute(f"""UPDATE new_ml SET issue = '{issue}',
                [receive] = '{receive_inspect.iloc[i]['RECIEVE_DATE']}',
                [inspection] = '{receive_inspect.iloc[i]['IN_INSPECT_DATE']}',
                exfm_status = '{receive_inspect.iloc[i]['REPAIR_STATUS']}' 
                WHERE RMA = '{rma}'""")
#     cur.execute(f"UPDATE m_list SET receive = '{receive_inspect.iloc[i]['RECIEVE_DATE']}' WHERE rma ='{rma}'")
#     print(rma)
conn.commit()
q ='''SELECT rma,sn,receive,c.recieve_date,inspection,c.in_inspect_date,m.status,m.issue,c.repair_status

        FROM new_ml m
        LEFT JOIN consolidated c ON m.rma = c.[rma no.]
        WHERE receive IS NULL
    '''
pd.read_sql(q,conn)

Empty DataFrame
Columns: [rma, sn, receive, RECIEVE_DATE, inspection, IN_INSPECT_DATE, status, issue, REPAIR_STATUS]
Index: []

In [18]:
#check no receive and inspection
q = '''
        SELECT rma,receive,inspection,
        c.[recieve_date],c.[in_inspect_date]
        
        FROM new_ml m
        LEFT JOIN consolidated c ON m.rma = c.[rma no.]
        WHERE (receive IS NULL OR inspection IS NULL)
        
    '''
pd.read_sql(q,conn)

,rma,receive,inspection,RECIEVE_DATE,IN_INSPECT_DATE
0,FMSV2023070039,2023-07-14 17:06:42,None,2023-07-14 17:06:42,2023-07-21 19:12:48.230000
1,FMSV2023070043,2023-07-18 18:59:34.264000,None,2023-07-17 17:13:22,2023-07-21 20:38:59
2,FMSV2023070044,2023-07-19 16:41:58.116000,None,2023-07-18 18:51:58,2023-07-20 16:02:09
3,FMSV2023070048,2023-07-18 17:09:18.287000,None,2023-07-18 17:09:18,2023-07-21 16:12:14
4,FMSV2023070049,2023-07-18 17:10:30.973000,None,2023-07-18 17:10:30,2023-07-21 13:03:00
5,FMSV2023070050,2023-07-18 17:11:41.302000,None,2023-07-18 17:11:41,2023-07-21 17:51:53
6,FMSV2023070051,2023-07-18 17:13:05.423000,None,2023-07-18 17:13:05,2023-07-21 13:57:04

In [20]:
file_name = lg.file_select(folder_name = 'files', end_with = '.xlsm')
xw.Book(file_name)

______________________________________________________________________
|  No.|  File Name                               |  Modified Time    |
|____________________________________________________________________|
|  1  |  Master List Endo_230710_102655.xlsm     |  10-Jul-23 10:27  |
|  2  |  New ML_230720_163836.xlsm               |  21-Jul-23 13:10  |
|____________________________________________________________________|
Select file (Default 1): 2
"New ML_230720_163836.xlsm" is selected

In [ ]:
for i in range(len(m_list_final)):
    rma = m_list_final.iloc[i]['rma']
    issue = bb.issues(conn,rma)
    
    #replace none to empty
    for j in range(len(m_list_final.iloc[i])):
        if m_list_final.iloc[i][j] == None:m_list_final.iloc[i][j] =''

In [21]:
q = '''SELECT * FROM new_ml'''
# m_list_final = pd.read_sql(q,conn)
m_list_final

NameError: name 'm_list_final' is not defined

In [22]:
# final
q = '''SELECT * FROM new_ml'''
m_list_final = pd.read_sql(q,conn)
for i in range(len(m_list_final)):
    rma = m_list_final.iloc[i]['rma']
    issue = bb.issues(conn,rma)
    
    #replace none to empty
    for j in range(len(m_list_final.iloc[i])):
#         if m_list_final.iloc[i][j] == None: m_list_final.iloc[i][j] =''
        if m_list_final.iloc[i][j] == 'None': m_list_final.iloc[i][j] =''
           
m_list_final = m_list_final.drop(['TAT_receive','TAT_PO','TAT_PART'],axis=1)
dtmp = dt.now().strftime('%y%m%d')
file_name = f'ML_{dtmp}.xlsx'
m_list_final.to_excel(file_name,index = False)
xw.Book(file_name)

In [21]:
q = '''SELECT price FROM new_ml
    where price = 'nan'
'''
pd.read_sql(q,conn)

Empty DataFrame
Columns: [price]
Index: []

#### add data

In [44]:
# Wty REPORT
search_key = str(input('Search Key: '))
search_key = search_key.upper().strip()
q= f'''
        SELECT rma,customer,model,sn,report_id,stock_po
        FROM new_ml
        WHERE UPPER(rma) LIKE '%{search_key}%' OR UPPER(sn) LIKE '%{search_key}%'
    '''
pd.read_sql(q,conn)

Search Key: 189

,rma,customer,model,sn,report_id,stock_po
0,FMSV2023070049,Tuyen Quang General Hospital,EB-530S,6B083K189,None,None
1,FMSV2023070057,MEKONG HIGH TECH JOINT STOCK COMPANY,EG-720R,5G412K189,WTY-FFVN-2307025,None

In [43]:
# report_id = 'WTY-FFVN-2307025'
stock_po = 'YES'
cur.execute(f'''UPDATE new_ml 
                SET stock_po = "{stock_po}" 
               WHERE UPPER(rma) LIKE '%{search_key}%' OR UPPER(sn) LIKE '%{search_key}%'
            
            ''')
conn.commit()
pd.read_sql(q,conn)

,rma,customer,model,sn,report_id,stock_po
0,FMSV2023070055,Vietnam-Sweden Uong Bi Hospital,EG-530FP,2G374K400,WTY-FFVN-2307023R,YES

In [27]:
q

"\n        SELECT rma,model,sn,report_id \n        FROM new_ml\n        WHERE UPPER(rma) = '2V567K687' OR UPPER(sn) = '2V567K687'\n    "

In [ ]:
import sqlite3
 
# Connecting to sqlite
# connection object
conn = sqlite3.connect('history.db')
 
# cursor object
cursor_obj = conn.cursor()
 
# Drop the GEEK table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS exfm_part_list")

    
# Drop the GEEK table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS GEEK")
 
# Creating table
table = """ CREATE TABLE GEEK (
            Email VARCHAR(255) NOT NULL,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Score INT
        ); """
 
cursor_obj.execute(table)
 
print("Table is Ready")
 
# Close the connection
# conn.close()

In [5]:
q = '''SELECT * FROM new_ml '''
pd.read_sql(q,conn)

,No,rma,cus_type,customer,dealer,location,installed_date,model,sn,scope_type,...,note,exfm_status,exfm_info,approval,repair_user,update_time,update_user,TAT_receive,TAT_PO,TAT_PART
0,1.0,FMSV2023020019,FF asset,"FUJIFILM Vietnam Co., Ltd.",None,Hanoi,2019-12-04 00:00:00,EC-760ZP-V/M,2C730K027,Colono,...,#PO109,Inspection,Parts on Order,None,None,2023-06-06 11:26:47.886000,FFAP0066,None,None,None
1,2.0,FMSV2023020022,FF asset,FTYO - Loaner Asset,None,Hanoi,2018-05-11 00:00:00,EC-760ZP-V/M,2C730K032,Colono,...,#PO109,Inspection,Parts on Order,None,None,2023-06-06 11:25:51.529000,FFAP0066,None,None,None
2,3.0,FMSV2023020034,Private,Hoang Long Clinic,Trang Thi,Hanoi,2017-01-09 00:00:00,EC-760R-V/I,1C728K180,Colono,...,SPR Project,Inspection,Awating Parts billing,None,None,2023-06-30 15:36:27.579000,thang,None,None,None
3,4.0,FMSV2023020050,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2016-06-06 00:00:00,EC-600WI,1C692K487,Colono,...,Confirmed: 27-Feb.,Parts Selection,Waiting for Parts,None,None,2023-05-29 11:56:38.464000,thongle,None,None,None
4,5.0,FMSV2023020067,Government,Hanoi Medical University Hospital,None,Hanoi,2016-05-18 00:00:00,VP-4450HD,2V567K684,Processor,...,1. Less than 4 weeks after giving the quotation,Inspection,Waiting for Parts,None,None,2023-07-11 10:55:22.985000,thongle,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,NaN,FMSV2023070060,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2017-05-15 00:00:00,EG-600WR,2G391K784,Gastro,...,None,None,,None,None,None,None,None,None,None
145,NaN,FMSV2023070061,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2019-01-01 00:00:00,EG-600WR,4G391K232,Gastro,...,None,None,,None,None,None,None,None,None,None
146,NaN,FMSV2023070062,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2016-05-18 00:00:00,EG-600WR,2G391K044,Gastro,...,None,None,,None,None,None,None,None,None,None
147,NaN,FMSV2023070063,Government,Hanoi Medical University Hospital,Trang Thi,Hanoi,2019-01-01 00:00:00,EG-600WR,4G391K119,Gastro,...,None,None,,None,None,None,None,None,None,None
148,NaN,FMSV2023070064,,Nam Can Tho Medical Center,,HCM,2022-06-10 00:00:00,EG-530WR,9G361K611,Gastro,...,None,None,,None,None,None,None,None,None,None

In [6]:
a = pd.read_sql(q,conn)
a.to_excel('new_ml.xlsx')

In [7]:
xw.Book('new_ml.xlsx')